torch==2.0.0
torchaudio==2.0.1
scipy==1.10.1
einops==0.6.1
pyyaml==6.0
huggingface_hub==0.23.0
encodec==0.1.1
matplotlib==3.7.1
transformers==4.28.1
pytorch-lightning==1.8.6
tensorboardX==2.6
soundfile==0.12.1
numpy==1.23.5
jsonargparse[signatures]>=4.15.2
fairseq
torchcrepe
librosa
pesq